.tile-vertical
  display flex
  flex-direction row
  width 100%
  .tv-panel
    position relative
    .tv-resizer
      position absolute
      width 4px
      top 0
      right 0
      height 100%
      background gray
      cursor ew-resize

  .tv-right
    flex 1
    height 100%